.directory
.idea/
/CodeIgniter/application/config/database.php
*.iml
build/
cache.properties
target/
Test/acceptation/NumeroNumberOne/.project
Test/acceptation/NumeroNumberOne/bin/.project
Source/images/
.settings
.project
